# File: .dockerignore

# Git
.git
.gitignore

# Python Environment (QUAN TRỌNG: Chặn cả có chấm và không chấm)
.venv/
.venv
venv/
env/
src/.venv/

# Python Cache
__pycache__/
*/__pycache__
*.pyc
*.pyo
*.pyd
.Python

# Docker
Dockerfile
Dockerfile.backend
docker-compose.yml

# IDE / Editor
.idea/
.vscode/

# OS
.DS_Store
Thumbs.db

# Dữ liệu & Models (Đã mount volume nên không copy vào image)
models/
src/models/
data/
results/
logs/
*.pt
*.pth
*.h5
*.onnx

# Frontend
node_modules
frontend/node_modules
frontend/dist
# package-lock.json
# frontend/package-lock.json

# Build artifacts
dist/
build/
*.egg-info/